.flat-item__element {
  .property-grid__view {
    border: 1px solid $kui-disabled-400;
    background: $pure-white;
    padding: 18px;

    &:hover {
      border-color: $kui-theme;
    }

    .property-grid__container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .property-grid__header {
        .property-grid__status {
          span {
            font-weight: 500;
          }

          &.status-wolne {
            span {
              color: white;
              background: $kui-theme;
              border: none;
              padding: 4px 10px;
              font-size: 11px;
              text-transform: uppercase;
              letter-spacing: 0.10em;
            }
          }

          &.status-sprzedane {
            span {
              color: white;
              background: $black-color-200;
              border: none;
              padding: 4px 10px;
              font-size: 11px;
              text-transform: uppercase;
              letter-spacing: 0.10em;
            }
          }

          &.status-zarezerwowane {
            span {
              color: $primary-color-400;
              background: white;
              border: 1px solid $primary-color-400;
              padding: 4px 10px;
              font-size: 11px;
              text-transform: uppercase;
              letter-spacing: 0.10em;
            }
          }
        }
      }

      .property-grid__thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 210px;

        img {
          width: auto;
          max-height: 100%;
        }
      }

      .property-grid__content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .property-grid__investment {
          span {
            line-height: 1;
            font-size: 16px;
            color: $black-color-500;
          }

          span:first-child {
            color: $black-color-500;
          }
        }

        .property-grid__num {
          span {
            line-height: 1;
            font-size: 28px;
            font-weight: 500;
            color: $black-color-500;
          }
        }

        .property-grid__details {
          display: flex;
          flex-direction: row;
          padding-block: 10px;

          .property-grid__size,
          .property-grid__floor,
          .property-grid__rooms {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 7px;

            .property-grid__sub--heading {
              font-size: 12px;
              text-transform: uppercase;
            }

            .property-grid__sub--value {
              font-weight: 500;
            }
          }
        }
      }

      .property-grid__footer {
        display: flex;
        gap: 7px;

        button {
          flex: 1;
          align-items: center;
          justify-content: center;
          display: flex;
          font-weight: 400;
          color: $black-color-500;
          height: 40px;
          font-size: 16px;
          background: $kui-disabled-200;
        }

        .button-view-property {
          background: $kui-disabled-400;
          color: $kui-black;
        }
      }
    }
  }
}