#app-header {
  height: 57px;
  background: $kui-theme;

  .container {
    .app-header__content {
      .app-header__logo {
        svg {
          width: 140px;
          height: auto;

          @include for-tablet-portrait-up {
            width: 155px;
            height: auto;
          }

          path {
            fill: #212121;
          }
        }
      }
    }
  }
}